backoff==1.10.0
backports.functools-lru-cache==1.6.1
boto3==1.16.14
click==7.1.2
cryptography==3.2.1
Cython
dbfread==2.0.7
Django==1.11
Fiona==1.8.17
geojson==2.5.0
geopandas==0.6.3
gippy==1.0.5
homura==0.1.3
netCDF4==1.5.4
pandas==1.1.5
progressbar==2.5
Py6S==1.8.0
Pydap==3.2.0
pyproj==1.9.6
Pysolar==0.6
python-dateutil==2.8.1
python-fmask
requests==2.24.0
rios
Rtree==0.9.4
scipy==1.5.4
Shapely==1.7.1
six==1.15.0
spatialist==0.6
urllib3==1.25.11
usgs==0.2.7
